# -----------------------------------------------------------------------------
# Django
# -----------------------------------------------------------------------------
DJANGO_SECRET_KEY=change-me-in-local-development
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1


# -----------------------------------------------------------------------------
# PostgreSQL - Control Database
# -----------------------------------------------------------------------------
POSTGRES_CONTROL_DB=cmms_control
POSTGRES_CONTROL_USER=cmms_user
POSTGRES_CONTROL_PASSWORD=cmms_password
POSTGRES_CONTROL_HOST=localhost
POSTGRES_CONTROL_PORT=5432


# -----------------------------------------------------------------------------
# PostgreSQL - Client Template Database
# -----------------------------------------------------------------------------
POSTGRES_CLIENT_TEMPLATE_DB=cmms_client_template
POSTGRES_CLIENT_TEMPLATE_USER=cmms_user
POSTGRES_CLIENT_TEMPLATE_PASSWORD=cmms_password
POSTGRES_CLIENT_TEMPLATE_HOST=localhost
POSTGRES_CLIENT_TEMPLATE_PORT=5433


# -----------------------------------------------------------------------------
# Redis
# -----------------------------------------------------------------------------
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=0